body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loginform{
  /* margin: 0 auto; */
  width: 40%;
  /* margin-top: 9%; */
}

.passwordform{
  /* margin: 0 auto; */
  width: 40%;
  /* margin-top: 9%; */
}

.myheader{
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: right;
}

.center_div{
  background-color: #ffffff;
}

.left_div{
  background-color: #ffffff;
}


.footer_div{
  background-color: bisque;
}
